<p>
  <strong>Title:</strong>
  <%= @brand.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @brand.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @brand.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @brand.category %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @brand.subcategory %>
</p>


<%= link_to 'Shop', brands_path %>
